* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
  list-style: none;
  padding: 20px;
}
nav > ul {
  display: inline-flex;
}
a{
  text-decoration: none;
  color: antiquewhite;
}

.navbar {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: purple;
  align-items: center;
  
}

nav {
  flex-direction: row;
  

}
.navbar-item
{
  text-decoration: none;
  
  flex: 1;
  color: white;
 
}




